<div class="wrapper">
    <!-- Main Header -->
   <app-admin-header></app-admin-header>
   <!-- Left side column. contains the logo and sidebar -->
   <app-admin-sidebar></app-admin-sidebar>
   <!-- Content Wrapper. Contains page content -->
   <router-outlet></router-outlet>
   <!-- /.content-wrapper -->
   <!-- Main Footer -->
   <app-admin-footer></app-admin-footer>
   <!-- Control Sidebar -->
   <!-- <app-starter-control-sidebar></app-starter-control-sidebar> -->
   <!-- /.control-sidebar -->
   <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
   <div class="control-sidebar-bg"></div>
 </div>
 