<div class="wrapper">
    <!-- Main Header -->
   <app-book-seller-header></app-book-seller-header>
   <!-- Left side column. contains the logo and sidebar -->
   <app-book-seller-sidebar></app-book-seller-sidebar>
   <!-- Content Wrapper. Contains page content -->
   <router-outlet></router-outlet>
   <!-- /.content-wrapper -->
   <!-- Main Footer -->
   <app-book-seller-footer></app-book-seller-footer>
   <!-- Control Sidebar -->
   <!-- <app-starter-control-sidebar></app-starter-control-sidebar> -->
   <!-- /.control-sidebar -->
   <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
   <div class="control-sidebar-bg"></div>
 </div>
 